body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  font-size: 15px;
}

.cities-header, .cities-welcome-text {
  text-align: center;
}


.cities-row{
  margin-top: 25px;
}

.cities-container {
  text-align: center;
}

.city-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text a{
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
}

/* components/OutdoorStores.js */

.park-name {
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.park-name:hover{
  color: grey;
}

.park-name:visited{
  color: black;
}

.city-name, .cities-header {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

.city-name {
  padding-top: 20px;
}


/* .spinner {
  width: "100%",
  display: "flex",
  justifyContent: "center",
  alignItems: "center"
} */


.lead {
  text-align: center;
  margin-top: 30px;
}

/* .jumbotron {
  background-color: #A5C4BC !important;
} */

.btn-primary {
  background-color: #008CBA !important;
  border: 1px solid #008CBA !important;
}

.card-deck {
  margin-top: 40px;
}

/* dropdown menu item color when clicked */
.dropdown .dropdown-menu .dropdown-item:active {
  background-color: #008CBA !important;
  color: white !important;
}

a:hover {
  color: #008CBA;
  text-decoration: none;
}

a {
  color: black;
}

.location, .price {
  line-height: 5px;
  padding-top: 10px;
}

.number-of-reviews {
  line-height: 1px;
  color: gray;
}

.outdoor-store-name {
  color: #008CBA;
}

.link-icon {
  font-size: 15px;
}