body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  font-size: 15px;
}

.cities-header, .cities-welcome-text {
  text-align: center;
}

.main-navbar {
  float: right;
}

.cities-row{
  margin-top: 25px;
}

.cities-container {
  text-align: center;
}

.city-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text a{
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
}

/* components/OutdoorStores.js */

.outdoor-store-name, .park-name {
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.outdoor-store-name:hover, .park-name:hover{
  color: grey;
}

.outdoor-store-name:visited, .park-name:visited{
  color: black;
}

.city-name, .cities-header {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

.city-name {
  padding-top: 20px;
}

/* .login-input-title {
  margin-bottom: 0px;
} */

/* .login-input-field {
  border: 1px solid black;
  margin-top: 0px;
} */


